subsystem/src/main/resources/schema/wildfly-vertx_1_0_0.xsd

<!--
  Copyright (C) 2020 RedHat

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
       http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:wildfly:vertx:1.0"
           xmlns="urn:wildfly:vertx:1.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            version="1.0">

    <xs:element name="subsystem" type="subsystemType"/>

    <xs:complexType name="subsystemType">
        <xs:sequence>
            <xs:element name="vertx" type="vertxType" minOccurs="0" maxOccurs="1" />
            <xs:element name="vertx-options" type="vertxOptionsType" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="vertxType">
        <xs:attribute name="clustered" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>If it is a clustered Vertx or not.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="jgroups-channel" type="xs:string">
            <xs:annotation>
                <xs:documentation>The JGroups Channel name used for a clustered Vertx instance.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="forked-channel" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>If ForkedChannel should be used to construct the cluster manager. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="jgroups-stack-file" type="xs:string">
            <xs:annotation>
                <xs:documentation>The JGroups stack file used for a clustered Vertx instance.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="option-name" type="xs:string" default="default" >
            <xs:annotation>
                <xs:documentation>The vertx-option name which is used to refer to a VertxOptions.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="vertxOptionsType">
        <xs:sequence>
            <xs:element name="vertx-option-file" type="vertxOptionFileType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Define a VertxOptions from a Json file</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="vertx-option" type="vertxOptionType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Define a VertxOptions by specifying each property</xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- Followings are the options used in the above vertx-option -->
            <xs:element name="address-resolver-option" type="addressResolverOptionType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Define a AddressResolverOptions</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="eventbus-option" type="eventBusOptionType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Define a EventBusOptions</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="key-store-option" type="keyStoreOptionType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Define either a KeyCertOptions or TrustOptions</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="pem-key-cert-option" type="pemKeyCertOptionType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Define a PemKeyCertOptions</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="pem-trust-option" type="pemTrustOptionType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Define a PemTrustOptions</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="metrics-option" type="metricsOptionType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Define a MetricsOptions</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="trace-option" type="traceOptionType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Define a TraceOptions</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="cluster-node-metadata" type="clusterNodeMetaType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Define a Json type cluster node metadata</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="vertxOptionFileType">
        <xs:attribute name="name" use="required" type="xs:string"/>
        <xs:attribute name="path" type="xs:string">
            <xs:annotation>
                <xs:documentation>Specify the json file path where to read VertxOptions from.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="vertxOptionType">
        <xs:attribute name="name" use="required" type="xs:string"/>
        <xs:attribute name="event-loop-pool-size" type="xs:int"/>
        <xs:attribute name="worker-pool-size" type="xs:int" />
        <xs:attribute name="internal-blocking-pool-size" type="xs:int" />
        <xs:attribute name="ha-enabled" type="xs:boolean" />
        <xs:attribute name="ha-group" type="xs:string" />
        <xs:attribute name="quorum-size" type="xs:int" />
        <xs:attribute name="prefer-native-transport" type="xs:boolean" />
        <xs:attribute name="disable-tccl" type="xs:boolean" />

        <xs:attribute name="blocked-thread-check-interval" type="xs:long" />
        <xs:attribute name="blocked-thread-check-interval-unit" type="xs:string" />
        <xs:attribute name="max-eventloop-execute-time" type="xs:long" />
        <xs:attribute name="max-eventloop-execute-time-unit" type="xs:string" />
        <xs:attribute name="max-worker-execute-time" type="xs:long" />
        <xs:attribute name="max-worker-execute-time-unit" type="xs:string" />
        <xs:attribute name="warning-exception-time" type="xs:long" />
        <xs:attribute name="warning-exception-time-unit" type="xs:string" />

        <xs:attribute name="classpath-resolving-enabled" type="xs:boolean" />
        <xs:attribute name="file-cache-enabled" type="xs:boolean" />

        <xs:attribute name="address-resolver-option" type="xs:string">
            <xs:annotation>
                <xs:documentation>Specify the address-resolver-option name to use</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="eventbus-option" type="xs:string">
            <xs:annotation>
                <xs:documentation>Specify the eventbus-option name to use</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="metrics-option" type="xs:string">
            <xs:annotation>
                <xs:documentation>Specify the metrics-option name to use</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="trace-option" type="xs:string">
            <xs:annotation>
                <xs:documentation>Specify the trace-option name to use</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="addressResolverOptionType">
        <xs:attribute name="name" use="required" type="xs:string"/>
        <xs:attribute name="hosts-path" type="xs:string" />
        <xs:attribute name="hosts-value" type="xs:string" />
        <xs:attribute name="servers" type="xs:string" />
        <xs:attribute name="opt-resource-enabled" type="xs:boolean" />
        <xs:attribute name="cache-min-time-to-live" type="xs:int" />
        <xs:attribute name="cache-max-time-to-live" type="xs:int" />
        <xs:attribute name="cache-negative-time-to-live" type="xs:int" />
        <xs:attribute name="query-time-out" type="xs:long" />
        <xs:attribute name="max-queries" type="xs:int" />
        <xs:attribute name="rd-flag" type="xs:boolean" />
        <xs:attribute name="search-domains" type="xs:string" />
        <xs:attribute name="n-dots" type="xs:int" />
        <xs:attribute name="rotate-servers" type="xs:boolean" />
        <xs:attribute name="round-robin-inet-address" type="xs:boolean" />
    </xs:complexType>

    <xs:attributeGroup name="networkOptionsGroup">
        <xs:attribute name="send-buffer-size" type="xs:int" />
        <xs:attribute name="receive-buffer-size" type="xs:int" />
        <xs:attribute name="traffic-class" type="xs:int" />
        <xs:attribute name="reuse-address" type="xs:boolean" />
        <xs:attribute name="log-activity" type="xs:boolean" />
        <xs:attribute name="reuse-port" type="xs:boolean" />
    </xs:attributeGroup>

    <xs:attributeGroup name="tcpSSLOptionsGroup">
        <xs:attributeGroup ref="networkOptionsGroup" />
        <xs:attribute name="tcp-no-delay" type="xs:boolean" />
        <xs:attribute name="tcp-keep-alive" type="xs:boolean" />
        <xs:attribute name="so-linger" type="xs:int" />
        <xs:attribute name="idle-timeout" type="xs:int" />
        <xs:attribute name="read-idle-timeout" type="xs:int" />
        <xs:attribute name="write-idle-timeout" type="xs:int" />
        <xs:attribute name="idle-timeout-unit" type="xs:string" />
        <xs:attribute name="ssl" type="xs:boolean" />
        <xs:attribute name="ssl-hand-shake-timeout" type="xs:long" />
        <xs:attribute name="ssl-hand-shake-timeout-unit" type="xs:string" />
        <xs:attribute name="enabled-cipher-suites" type="xs:string" />
        <xs:attribute name="crl-paths" type="xs:string" />
        <xs:attribute name="crl-values" type="xs:string" />
        <xs:attribute name="use-alpn" type="xs:boolean" />
        <xs:attribute name="enabled-secure-transport-protocols" type="xs:string" />
        <xs:attribute name="tcp-fast-open" type="xs:boolean" />
        <xs:attribute name="tcp-cork" type="xs:boolean" />
        <xs:attribute name="tcp-quick-ack" type="xs:boolean" />
        <xs:attribute name="ssl-engine-type">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="JDK" />
                    <xs:enumeration value="OpenSSL" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="openssl-session-cache-enabled" type="xs:boolean" />

    </xs:attributeGroup>

    <xs:complexType name="eventBusOptionType">
        <xs:attribute name="name" use="required" type="xs:string"/>
        <xs:attributeGroup ref="tcpSSLOptionsGroup" />
        <xs:attribute name="cluster-public-host" type="xs:string" />
        <xs:attribute name="cluster-public-port" type="xs:int" />
        <xs:attribute name="cluster-ping-interval" type="xs:long" />
        <xs:attribute name="cluster-ping-reply-interval" type="xs:long" />
        <xs:attribute name="host" type="xs:string" />
        <xs:attribute name="port" type="xs:int" />
        <xs:attribute name="accept-backlog" type="xs:int" />
        <xs:attribute name="client-auth">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="NONE" />
                    <xs:enumeration value="REQUEST" />
                    <xs:enumeration value="REQUIRED" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="reconnect-attempts" type="xs:int" />
        <xs:attribute name="reconnect-interval" type="xs:long" />
        <xs:attribute name="connect-timeout" type="xs:int" />
        <xs:attribute name="trust-all" type="xs:boolean" />
        <xs:attribute name="key-cert-option" type="xs:string">
            <xs:annotation>
                <xs:documentation>Specify the key-cert-option name to use</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="trust-option" type="xs:string">
            <xs:annotation>
                <xs:documentation>Specify the trust-option name to use</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="cluster-node-metadata" type="xs:string">
            <xs:annotation>
                <xs:documentation>Specify the cluster-node-metadata name to use</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="clusterNodeMetaType">
        <xs:sequence>
            <xs:element name="property" type="propertyType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="name" use="required" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="propertyType" mixed="true">
        <xs:attribute name="name" use="required" type="xs:token" />
    </xs:complexType>

    <xs:complexType name="keyStoreOptionType">
        <xs:attribute name="name" use="required" type="xs:string"/>
        <xs:attribute name="type" use="required" type="xs:string" />
        <xs:attribute name="provider" type="xs:string" />
        <xs:attribute name="password" type="xs:string" />
        <xs:attribute name="path" type="xs:string" />
        <xs:attribute name="value" type="xs:string" />
        <xs:attribute name="alias" type="xs:string" />
        <xs:attribute name="alias-password" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="pemTrustOptionType">
        <xs:sequence>
            <xs:element name="cert-values" type="pemValuesType" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="name" use="required" type="xs:string"/>
        <xs:attribute name="cert-paths" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="pemValuesType">
        <xs:sequence>
            <xs:element name="pem-value" type="xs:string" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="pemKeyCertOptionType">
        <xs:sequence>
            <xs:element name="key-values" type="pemValuesType" minOccurs="0" maxOccurs="1" />
            <xs:element name="cert-values" type="pemValuesType" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="name" use="required" type="xs:string"/>
        <xs:attribute name="key-paths" type="xs:string" />
        <xs:attribute name="cert-paths" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="metricsOptionType">
        <xs:attribute name="name" use="required" type="xs:string"/>
        <!-- TODO: Metrics Option -->
    </xs:complexType>

    <xs:complexType name="traceOptionType">
        <xs:attribute name="name" use="required" type="xs:string"/>
        <!-- TODO: Trace Option Type -->
    </xs:complexType>
</xs:schema>
